In [53]:
import pandas as pd
import requests
import json
import os
import dotenv

dotenv.load_dotenv()

api_key = os.getenv('weather_api_key')

url = f"http://api.openweathermap.org/data/2.5/weather?q=Charlottesville,us&APPID={api_key}"

r = requests.get(url)
myjson = json.loads(r.text)

cville_weather = pd.json_normalize(myjson)

In [54]:
pd.json_normalize(cville_weather['weather'][0])

    id    main    description icon
0  803  Clouds  broken clouds  04n

In [55]:
cville_weather.T

                                                                 0
weather          [{'id': 803, 'main': 'Clouds', 'description': ...
base                                                      stations
visibility                                                   10000
dt                                                      1693882315
timezone                                                    -14400
id                                                         4752031
name                                               Charlottesville
cod                                                            200
coord.lon                                                 -78.4767
coord.lat                                                  38.0293
main.temp                                                   297.06
main.feels_like                                             297.83
main.temp_min                                               294.24
main.temp_max                                                300.6
main.pressure                                                 1014
main.humidity                                                   89
wind.speed                                                    0.45
wind.deg                                                       263
wind.gust                                                     0.45
clouds.all                                                      66
sys.type                                                         2
sys.id                                                     2005108
sys.country                                                     US
sys.sunrise                                             1693824373
sys.sunset                                              1693870814